<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Simple Timer</title>

<meta name="keywords" content="timer, javascript, count up, count down, remaining, elapsed">
<meta name="description" content="a simple timer, counting up and down">

<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />


<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="resources/build/css/app.css">

</head>
<body>

<div id="control-panel">
  <h4 class="toggle" v-on:click.prevent="controlToggle">Control Panel</h4>
  <div class="inner" v-cloak v-show="visible">
    <form v-on:submit.prevent="controlSubmit">
      <fieldset>
        <label>Duration: </label>
        <input type="number" v-model="duration" title="the duration for the timer" />
        <label>Late Start Offset: </label>
        <input type="number" v-model="offset" title="if you experience a late start, add the offset from the you actually wanted" />
        <input type="submit" value="Save" />
        <hr />
        <p class="instructions">
          After saving your settings, share the URL &ndash; everyone's timer will be relatively in sync!
        </p>
      </fieldset>
    </form>
  </div>
</div>

<!--
<div id="control-panel">
  <h4 id="control-panel-handle">Control Panel</h4>
  <div class="inner">
    <fieldset>
      <label>Duration: </label>
      <input type="number" id="duration" value="60" placeholder="minutes" title="the duration for the timer" />
      <label>Late Start Offset: </label>
      <input type="number" id="offset" value="0" placeholder="0" title="if you experience a late start, add the offset from the you actually wanted" />
      <input type="button" id="save" value="Save" />
      <hr />
      <p class="instructions">
        After saving your settings, share the URL &ndash; everyone's timer will be relatively in sync!
      </p>
    </fieldset>
  </div>
</div>
-->

<div id="app">

  <div id="container">
    <div class="inner">

      <div v-show="initial.start">

        <div v-if="time.remaining && time.elapsed" class="count down">
          <span class="number">{{ down }}</span> <span class="indicator">{{ down_indicator }}</div>
        </div>
        <div v-if="time.remaining && time.elapsed" class="count up">
          <span class="number">{{ up }}</span> <span class="indicator">{{ up_indicator }}</div>
        </div>

      </div>

    </div>
  </div>

</div>

<footer class="footer">
  <p class="attribution">
    <a href="http://ifupdown.com/?st">ifupdown</a> | <a href="http://ryanrampersad.com/?st">ryan rampersad</a> | <a href="https://github.com/ryanmr/simple-timer">github</a>
  </p>
</footer>

<script src="resources/build/js/vendor.js" charset="utf-8"></script>
<script src="resources/build/js/app.js" charset="utf-8"></script>

</body>
</html>
